<% provide(:title, 'About Us') %>

    <!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row centered">
                <h3>More About Us</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->

     
    <!-- *****************************************************************************************************************
     AGENCY ABOUT
     ***************************************************************************************************************** -->

     <div class="container mtb">
        <div class="row">
            <div class="col-lg-6">
                 <br>
                 <%=image_tag("sosjunglekids_children1.jpg",alt: "SOS Jungle Kids, India")%>
            </div>
            
            <div class="col-lg-6">
                <h4>Children in our school, Dhanwar</h4>
                <p>Today about one thousand students attend classes in kindergarten, elementary school or high school in Dhanwar.</p>
                <p>There is also a knitting training for village girls. Thanks to the support of foster parents in Belgium get students reading books, notebooks, pen, ink, pencils, a uniform, slippers, underwear, soap, toothpaste, extra clothing, ... and if necessary we will reimburse hospital costs.</p>
                <p>Many students live far from Dhanwar why most students stay in school. They get shelter with their own bed sheets and mosquito nets. Every day, the students 300 kilos of rice and 40 kilos Dahl (sauce for the rice). Most students are more comfortable at school than at home. No wonder some students who are not orphans, also spend their holidays at school.</p>
                
                
            </div>
        </div><! --/row -->
     </div><! --/container -->

    <!-- *****************************************************************************************************************
     TEEAM MEMBERS
     ***************************************************************************************************************** -->

     <div class="container mtb">
        <div class="row centered">
            <h3 class="mb">KEY FIGURES</h3>
            

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                <%=image_tag("sosjunglekids_fathersidonmaes.jpg",size:"220x200", alt: "SOS Jungle Kids, India: Founder")%>
   
                </div><!-- he wrap -->
                <h4>Late Father Sidon Maes</h4>
                <h5 class="ctitle">Founder and driving force</h5>
                <p>He decided to look after the children of Dhanwar, where there were no means or support of external world. He pioneered a free school for all children who otherwise wouldn't have got a fair chance. He supported his noble education mission till his last breath and lays in peace in the school's ground.</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->            

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                        <%=image_tag("sosjunglekids_maesfamily.jpg",size:"220x200", alt: "SOS Jungle Kids, India")%>
                </div><!-- he wrap -->
                <h4>Renuka & Geert Maes</h4>
                <h5 class="ctitle">Coordinator and Fundraiser</h5>
                <p>Geert left his secured job to take responsibility for the operation of SOS Jungle Kids in Flanders Belgium. He is very well versed in Hindi and is always willing to help. Renuka is a doctor and supports/looks after those who need medical attention at the nearest town hospital in Ambikapur.</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                 <div class="he-wrap tpl6">
                        <%=image_tag("sosjunglekids_villageteam.jpg",size:"220x200", alt: "SOS Jungle Kids, India")%>
                </div><!-- he wrap -->

                <h4>School Staff</h4>
                <h5 class="ctitle">Teachers and Operations</h5>
                <p>Behind the scenes of Dhanwar is a motivated team that leads everything runs smoothly. The jungle children are taught by trained teachers.
                <br><br><br><br><br></p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="he-wrap tpl6">
                        <%=image_tag("sosjunglekids_flanderssupporters.jpg",size:"220x200", alt: "SOS Jungle Kids, India")%>
                </div><!-- he wrap -->
                <h4>Support groups in Flanders</h4>
                <h5 class="ctitle">The generous Fundraisers</h5>
                <p>Without Dhanwar foster parents can not function and would therefore be left to the jungle children to fend for themselves in the jungle. Foster parents nd children across Flanders organize additional activities to raise funds for Dhanwar children.
                <br><br></p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->            
            
        </div><! --/row -->
     </div><! --/container -->
     
    
