<% provide(:title, 'Home') %>



<!-- Begin Body -->

  <!-- *****************************************************************************************************************
   HEADERWRAP
   ***************************************************************************************************************** -->
  <div id="headerwrap">
      <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h3>Welcome to our website!</h3>
          <h1>SOS Jungle Kids</h1>
          <h5>Hidden in the woods and hills in the remote parts of the state of Chhattisgarh in central India are villages that time seems to have had no change in the way they live, they still continue to live like their ancestors did! Agriculture, hunting and relying on jungle for food, water and various other resources is still very much a part of their lives. The inhabitants differ in many ways from the rest of Indian society: they speak different languages ​​and have their own traditions and beliefs. The tribals call themselves the Adivasis, thats means "first inhabitants".
          </h5>
               
        </div>
        <br><br>
        <div class="col-lg-8 col-lg-offset-2 himg">
          <%=image_tag("sosjunglekids_pic1.jpg",class:"img-responsive", alt: "SOS Jungle Kids, India")%>
          <br><br>
        </div>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /headerwrap -->

  <!-- *****************************************************************************************************************
   SERVICE LOGOS
   ***************************************************************************************************************** -->
   <div id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%=image_tag("sosjunglekids_heart.jpg",size:"50x60", alt: "SOS Jungle Kids, India: Volunteer")%>
          <h4>Become a foster parent</h4>
          <p><h5>SOS Jungle Kids foster parents are real parents, but on a global scale! Are you the foster parent of one of our jungle kids?</h5>

           For only 10 euros per month, you may call yourself a foster parent with pride. For our jungle kids this really makes the difference.</p>
          <p><br/><%= link_to "More", contact_path,class: "btn btn-theme" %></p>
        </div>
        <div class="col-md-4">
         <%=image_tag("sosjunglekids_book.jpg",size:"50x60", alt: "SOS Jungle Kids, India: Education")%>
          <h4>Basic education for jungle kids</h4>
          <p>SOS Jungle Kids want to use education as a trigger for the development of a forgotten community. 

             <ul>

                <li> Provide care and shelter for poor and needy children, and a good foundation education to let them grow according to their own culture, religion and tradition.

                <li> All children irrespective of any religion, caste and social background  deserves an equal chance to get basic education and develop to pursue free and happy good life.

                <li> Provide these children with the opportunity to learn a trade and be independent.

                <li> Help them to be confident and independent and use good human qualities to unify people of all religions, and follow good cultural practices so they can pass these values ​​to future generations. 
              </ul>
            </p>
          <p><br/><%= link_to "More", about_path,class: "btn btn-theme" %></p>


        </div>
        <div class="col-md-4">
          <%=image_tag("sosjunglekids_heart.jpg",size:"50x60", alt: "SOS Jungle Kids, India: Volunteer")%>
          <h4>Volunteering Activities</h4>
          <p>We will be elated to hear from you if you want to volunteer to spend time at our school to help children in anyway you can. May you be blessed for offering to help!</p>
          <p><br/><%= link_to "More", contact_path,class: "btn btn-theme" %></p>
        </div>            
      </div>
    </div><! --/container -->
   </div><! --/service -->



