
  <li>
    
    <div class="col-md-3 text-center">
    <%= link_to user.first_name + " " + user.last_name, user %>
    </div>

    <div class="col-md-4 text-center">
     	<%= user.email %>
      
    </div>

    <div class="col-md-2 text-center">
      <%= user.newsposts.count %>
    </div>

    <div class="col-md-1 text-center">
      <%= link_to "Delete", user, method: :delete,class: "btn btn-red", data: { confirm: "You sure?" } %>
    </div>
    
    <div class="col-md-1 text-center">
      <%= link_to "View", user,class: "btn btn-primary" %>
    </div>
    

  </li>  

