<% provide(:title, @user.first_name + " " + @user.last_name) %>
<br><br><br><br>

<h3>Account: '<%= @user.first_name %> <%= @user.last_name %>'</h3>

<div class="row">
<% if @user.newsposts.any? %>
  <h4>Newsposts (<%= @user.newsposts.count %>)</h4>
  <br>
    <%= render @newsposts %>
  
    <%= will_paginate @newsposts %>
<% end %>

</div>
