<%= form_for(@newspost_attachment) do |f| %>
  <% if @newspost_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newspost_attachment.errors.count, "error") %> prohibited this newspost_attachment from being saved:</h2>

      <ul>
      <% @newspost_attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :newspost_id %><br>
    <%= f.number_field :newspost_id %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.text_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
