<% provide(:title, @user.first_name + " " + @user.last_name) %>
  

        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-2 text-center">
                </p>
                <p>Posted <%= time_ago_in_words(newspost.created_at) %> ago.</p>
            </div>
            <div class="col-md-5">
              <center>
                <% if newspost.newspost_attachments.count > 0 %> 
                <!-- <%= newspost.newspost_attachments.count %> -->
                <% newspost.newspost_attachments.each do |p| %>
  
                  <%= image_tag p.file_url, :size => "600x300" %>
                  <!-- <p>
                  <%= link_to "Delete Image", p, method: :delete, class: "btn btn-red" %>
                  </p> -->   
                <% end %>
                <% end %>
              </center>

            </div>
            <div class="col-md-5">
                <h3><%= newspost.title %></h3>
                <p><i>by User: <%= link_to newspost.user_id, current_user %> </i>
                </p>
                <p><%= newspost.content.truncate(200).html_safe %>...</p>
                
               
                <%= link_to "More", newspost,class: "btn btn-primary" %>
                <%= link_to "Delete", newspost, method: :delete,class: "btn btn-red", data: { confirm: "You sure?" } %>
            </div>
        </div>
        <!-- /.row -->
  
  


